<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Footer -->
<div th:fragment="footer">
    <!-- Bottom -->
    <div class="bottom" style="background-color: rgb(136, 139, 140);">
        <div class="container">
            <div class="copyright" style="text-align:  center;">
                <p>© 2018 Powered by <a target="_blank"href="http://www.enilu.cn">enilu</a>
                </p>

            </div>
        </div><!-- /.container -->
    </div><!-- bottom -->

    <!-- Go Top -->
    <a class="go-top">
        <i class="fa fa-angle-up"></i>
    </a>

</div><!-- Boxed -->


</body>
</html>
