<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
    Name: free_form
    User: Yao
    Date: 2018/2/2
    TIMETime: 18:53
    -->
<head>
    <meta charset="UTF-8">
    <title>信数官网用户联系邀约</title>
</head>
<body>
<h1>产品试用</h1>
<table>
    <thead>
    <tr>
        <th>产品</th>
        <th>公司名称</th>
        <th>姓名</th>
        <th>客户行业</th>
        <th>email</th>
        <th>联系电话</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="content" type="com.xinshucredit.website.entity.InputContent"*/-->
    <tr th:object="${content}">
        <td th:text="*{product}"></td>
        <td th:text="*{company}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{industry}"></td>
        <td th:text="*{mail}"><a href='#' th:href="'mailto:'+ *{mail}" target='_blank'></a></td>
        <td th:text="*{phone}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
