<html xmlns:th="http://www.thymeleaf.org">

<!-- Footer -->
<div th:fragment="footer" style="background-color: rgb(6, 110, 134);">
    <footer class="footer"style="background-color: rgb(6, 110, 134);">
        <div class="container-fluid">
            <div class="row">
                <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-out-link">
                        <h4 class="widget-title" th:text="#{footer.contactUs}"> </h4>
                        <ul class="one-half whitet">
                            <li th:text="#{footer.sendmail}"></li>
                            <li><a href="mailto:zhangtao54@gmail.com">zhangtao54@gmail.com</a></li>
                            <li><a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=alts44ap" target="_blank" th:text="#{menu.arliyun}"></a></li>
                        </ul>
                    </div>
                </div><!-- /.col-md-3 -->

                <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-out-link">
                        <h4 class="widget-title" th:text="#{footer.friendly.link}"> </h4>
                        <ul class="one-half">
                            <li><a target="_blank" href="http://itblog.enilu.cn" th:text="#{footer.friendly.link.blog}"> </a></li>
                            <li><a target="_blank" href="https://github.com/enilu/material-admin" th:text="#{footer.friendly.link.material-admin}"> </a></li>
                            <li><a target="_blank" href="https://github.com/enilu/web-flash" th:text="#{footer.friendly.link.web-flash}"> </a></li>
                            </a></li>
                        </ul>
                    </div>
                </div><!-- /.col-md-3 -->


                <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-out-link">
                        <h4 class="widget-title" th:text="#{footer.wechat}"></h4>
                        <ul class="one-half whitet">

                            <li><img src="/images/code.jpg" style="width:40%;">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-out-link">
                        <h4 class="widget-title" th:text="#{footer.mpAccount}"></h4>
                        <ul class="one-half whitet">

                            <li><img src="/images/mpAccount.jpg" style="width:40%;">
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.col-md-3 -->

            </div><!-- /.row -->
        </div><!-- /.container -->
    </footer>

    <!-- Bottom -->
    <div class="bottom" style="background-color: rgb(6, 110, 134);">
        <div class="container">
            <div class="copyright">
                <p>© 2018 Powered by <a target="_blank"href="http://www.enilu.cn">enilu</a>
                    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261624698'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1261624698%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
                </p>

            </div>
        </div><!-- /.container -->
    </div><!-- bottom -->

    <!-- Go Top -->
    <a class="go-top">
        <i class="fa fa-angle-up"></i>
    </a>

</div><!-- Boxed -->



</html>
