<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xml:lang="en-US" lang="en-US"><!--<![endif]-->


<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-fileinput/4.4.8/css/fileinput.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-fileinput/4.4.8/themes/explorer-fa/theme.css" />

<head th:include="common/head::head('splt pdf online','split pdf,pdf,split pdf online,pdf分割,pdf在线分割','split pdf online pdf在线分割')"></head>

<div class="boxed">
    <!-- Header -->
    <header id="header" class="header header-classic clearfix" th:include="common/menu::menu"></header>

    <section>
        <br>

        <div class="file-loading">
            <input id="file" name="file" type="file" multiple class="file-loading">
        </div>

        <div class="row" style="display: none;" id="table">
            <div class="col-md-12">
                <br>
                <button type="button" class="btn btn-info" th:text="#{btn.pdf.split}"></button>
                <br><br>
                <input type="text" id="splitPage" th:placeholder="#{input.pdf.split.placehoder}"/>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th th:text="#{table.header.order}"></th>
                        <th th:text="#{table.header.file.name}"></th>
                        <th th:text="#{table.header.file.size}"></th>
                        <th th:text="#{table.header.file.uuid}"></th>
                    </tr>
                    </thead>
                    <tbody id="table-body">

                    </tbody>
                </table>
                <br>
                <button type="button" class="btn btn-info" th:text="#{btn.pdf.split}"></button>
            </div>
        </div>
        <br> <br>
    </section>

    <footer class="footer" th:include="common/footer::footer"></footer>

</div>
<div th:include="common/common_js::js"></div>

<script src="/plugins/bootstrap-fileinput/4.4.8/js/plugins/sortable.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.8/js/fileinput.min.js" type="text/javascript"></script>
<script th:src="'/plugins/bootstrap-fileinput/4.4.8/js/locales/'+${lang}+'.js'" type="text/javascript"></script>
<script src="/plugins/bootstrap-fileinput/4.4.8/themes/explorer-fa/theme.js" type="text/javascript"></script>
<script src="/plugins/bootstrap-fileinput/4.4.8/themes/fa/theme.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
<script th:inline="javascript">
    var lang = /*[[${lang}]]*/;
</script>
<script type="text/javascript" src="/website/pdf_split.js"></script>

</body>
</html>
